<!doctype html>
<html lang="ko">
<head>
<!--    Required meta tags  -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,
          shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    Bootstrap CSS -->
    <link rel="stylesheet" href="text/css" th:href="@{/bootstrap.min.css}">
<!--    sbb CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
<!--기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>